// custom var
$primary-color: #0f0033;
$color-orange: #fb5e35;
$color-black: #4a4a4a; //74 74 74
$color-gray: #ddd;
$color-white: #fff;
$color-red: red;
$color-green: #32CD32;

//green
$color-emeraldgreen: #008b77; // 0 155 119
$color-emeraldgreenE1: #53D0B3;
$color-emeraldgreenE2: #11A986;  //17 169 134
//grey
$color-darkgray: #4a4a4a;
$color-pebblegray: #696969; //105 105 105
$color-grayishBrown70: rgba(105, 105, 105, 0.7);
$color-grayishBrown40: rgba(105, 105, 105, 0.4);
$color-grayishBrown20: rgba(105, 105, 105, 0.2);
//warm-grey
$color-WG: #FAF9F7;
$color-WG1: #EDEAE4; //237 234 228
$color-WG2: #E3D9D6;
$color-WG3: #948B88; //148 139 136
$color-WG4: #D9D9D9; // color of ant button border

$color-sunny-yellow-s3: #F5BB00;  //245, 187, 0

$color-springteal: #2DCCD3;