.loginForm {
  max-width: 300px;
  margin: auto;
}

.alertbox {
  margin-bottom: 2em;
}

.forgot {
  float: right;
}

.button {
  width: 100%;
  height: 50px;
}

.buttonGoogle {
  width: 100%;
  height: 50px;
}

.googleLogo {
  width: 30px;
  height: 30px;
  margin-right: 5%;
}

.input {
  height: 50px;
}

.centerBox {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
