@import '../../styles/responsive';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgLogo {
  width: fit-content;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.table {
  margin-top: $padding;
  margin-bottom: $padding;
  width: 100%;
  
  tr {
    &:hover {
      color: white;
    }
  }
}
