@import '../../styles/color.scss';

.menu {
  align-items: center;
  display: flex;
  cursor: pointer;

  &Icon {
    margin-right: 5%;
  }

  &:hover {
    border-bottom: 2px solid $primary-color;
  }
}
