@import '../../styles/color.scss';
@import '../../styles/fonts.scss';

.langBar {
  text-align: right;
  color: $color-orange;

  .langSwitch {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    cursor: pointer;
  }
  
  .langSwitchEN {
    font-family: $font-family-en;
    @extend .langSwitch;
  }
  
  .langSwitchTH {
    font-family: $font-family-th;
    @extend .langSwitch;
  }
}
