{
  "env": {
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ],
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  },
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "/components": "./components",
          "/pages": "./pages",
          "/services": "./services",
          "/utils": "./utils",
          "/i18n": "./i18n.js",
          "/config": "./config.js",
          "/__mocks__": "./__mocks__",
        }
      }
    ]
  ]
}
