{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "react-app"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "jest",
    "react",
    "react-hooks",
    "simple-import-sort"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "eol-last": "error",
    "import/no-absolute-path": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "key-spacing": "error",
    "max-len": ["warn", { "code": 150, "tabWidth": 2, "ignoreUrls": true }],
    "no-restricted-imports": ["error", {
      "paths": [{ "name": "lodash/fp", "message": "Please import from 'lodash' instead." }],
      "patterns": ["lodash/*", "../*"] // THIS PROJECT AREN'T ALLOWED TO USED RELATIVE PATH TO ACCESS PARENT FILE OR FOLDER, PLEASE ACCESS FROM ROOT PATH INSTEAD.
    }],
    "no-trailing-spaces": "error",
    "object-curly-newline": ["error", { "ImportDeclaration": { "multiline": true, "minProperties": 2 }}],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "simple-import-sort/sort": "error",
    "semi": "error",
    "space-infix-ops": "error",
    "sort-imports": "off",
    "react/button-has-type": [0],
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "camelcase": "error",
    "indent": ["error", 2]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "/__mocks__": "./__mocks__",
        "/__tests__": "./__tests__",
        "/components": "./components",
        "/contexts": "./contexts",
        "/pages": "./pages",
        "/services": "./services",
        "/styles": "./styles",
        "/utils": "./utils",
        "/config": "./config.js",
        "/i18n": "./i18n.js",
        "/next.config": "./next.config.js",
      }
    }
  }
}
